## Build
**/bin/
**/obj/
**/publish/
installer/publish/
installer/ApplicationUpdater.msi
installer/ApplicationUpdater-Setup.exe
installer/WindowsPatchManager.msi
installer/WindowsPatchManager-Setup.exe
installer/wix
artifacts/
dist/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.log
cli-out.txt
cli-err.txt

## OS
Thumbs.db
Desktop.ini
